<%- include('includes/head.ejs') %>
	<%- include('includes/navigation.ejs') %>
		<main>
			<h1 class="title__head">Welcome to Our Company Home Page</h1>
			<h1 class="title__head">A Node.JS & Express.JS App!</h1>
			<%- include('includes/form.ejs') %>
		</main>
		<%- include('includes/end.ejs') %>