<%- include('includes/head.ejs') %>
	<%- include('includes/navigation.ejs') %>
		<main>
			<h1 class="title__head">Users Page</h1>
			<ul class="users__list">
				<li>Nick Fury</li>
				<li>Maria Hill</li>
				<li>Sam Wilson</li>
				<% if (hasUsers) { %>
					<% users.forEach((user)=> { %>
						<li>
							<% user.name %>
						</li>
						<% }); %>
							<li>...</li>
							<% } %>
			</ul>
		</main>
		<%- include('includes/end.ejs') %>