.form-control {
	flex-direction: column;
	margin: 1rem 0;
	text-align: center;
}

.form-control label,
.form-control input {
	display: block;
	width: 100%;
	margin-bottom: 0.25rem;
}

.form-control label {
	color: cornsilk;
	font-size: 1.5rem;
	margin: 1rem 0;
}

.form-control input {
	border: 1px solid #a1a1a1;
	border-radius: 5px;
	font: inherit;
	margin: 0.5rem auto;
	outline-color: darkgray;
	height: 1.5rem;
	width: 40%;
}

.form-control input:focus {
	outline-color: #00695c;
}

.form-control button {
	color: navy;
	font: inherit;
}

.form-control button:hover,
.form-control button:active {
	background-color: cornflowerblue;
	border-radius: 10px;
	color: cornsilk;
}