.users__list {
	background-color: cornsilk;
	border-radius: 10px;
	box-shadow: 5px 5px 5px 5px blue;
	list-style-type: none;
	margin: 3rem auto;
	padding: 0;
	width: 40%;
}

.users__list:before {
	border: 1px solid darkblue;
	border-bottom: 0;
	border-right: 1;
	display: block;
	font-weight: bold;
	padding: 0.25rem;
	text-align: center;
	content: 'Our Users';
}

.users__list li {
	border: 1px solid darkblue;
	margin-bottom: -1px;
	padding: 0.25rem;
	text-align: left;
}